.Modal {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 100;
    box-shadow: 5px 4px 14px -4px rgba(0,0,0,0.75);
    height: 40vh;
    width: 70vw;
    top: 15%;
    left: 15vw;
    transition: all 0.3s ease-out;
    transform-style: preserve-3d;
    background-color: white;
}
.Backdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.274);
}