.Btn { 
    outline: none;
    border: none;
    color: white;
    font-family: Roboto, sans-serif;  
    font-weight: 500;
    border-radius: 20px;
    padding: 0.6em 1.5em;
    background: #275efe;
}
.Btn:active {
    background: #01248E;
}